.THIS table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .THIS td {
    border: 2px solid #666666;
    text-align: left;
    padding: 8px;
  }
  
  .THIS th {
    border: 2px solid #666666;
    background-color: #cccccc;
    text-align: center;
    padding: 8px;
  }
  
  .THIS tr {
    background-color: #f2f2f2;
  }
  
  .THIS.componentWidth  {
      max-width:100% !important;
      width: 100% !important;
      max-height: auto !important;
      height: auto !important;
  }
  
  .THIS.AddPeriodModal {
    max-width:50% !important;
    width:50% !important;
  }
  
  .THIS table.detail {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .THIS td.detail {
    border: 2px solid white !important;
    text-align: left;
    padding: 8px;
  }
  
  .THIS th.detail {
    border: 2px solid white !important;
    background-color: white !important;
    text-align: center;
    padding: 8px;
  }
  
  .THIS tr.detail {
    background-color: white !important;
  }
  
  .THIS .priceInput input { 
      text-align: right !important;
  }