.THIS .priceInput input { 
    text-align: right !important;
}
.THIS .label-hidden > label {
    display: none;
}

.THIS .strikethroughText{
    text-decoration: line-through;
}

.THIS .strikethroughText td input{
    text-decoration: line-through !important;
}

.THIS .cam-additional{
    background-color: #ffcc66 !important;
}