.THIS.customRadioCls .slds-form-element__control .slds-radio{
    display : inline-block !important;
    padding-right: 40%;
}

.THIS .priceInput input { 
    text-align: right !important;
}

.THIS .centerInput input { 
    text-align: center !important;
}

.THIS .label-hidden > label {
    display: none;
}